#ukensBonde {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

#ukensQuiz {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

#imgUkensBonde {
    width: 40vh;
    height: auto;
    display: inline;
}

p {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}